* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: black;
}

.main-container {
  max-width: 1300px;
  margin: auto;
  margin-bottom: 5rem;
  padding: 0 1rem;
}

header {
  margin: 1.5rem 0 2rem 0;
}

header .title {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 2.5rem;
}

@media (max-width: 1100px) {
  .header .title{
    font-size: 1.8rem;
  }
}

.title .color-1{
  color: #f00000;
}

.title .color-2{
  color:#0072ff;
}

.title .color-3{
  color: #15fa00;
}

header .navbar {
  margin: auto;
  margin-top: 2rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1100px) {
  header .navbar {
    flex-direction: column;
    align-items: center;
  }
}

.navbar .btn {
  padding: 0.4rem 0.7rem;
  font-family: monospace;
  font-size: 0.9rem;
  color: white;
  background: black;
  border: 2px solid rgb(212, 2, 2);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.navbar .btn:hover {
  background: rgb(212, 2, 2);
}

@media (max-width: 1100px) {
  .navbar .btn{
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
  }
}

.navbar .nav-left {
  display: flex;
  align-items: center;
}

@media (max-width: 1100px) {
  .navbar .nav-left{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.navbar .nav-left .slider-container {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 730px) {
  .navbar .nav-left{
    flex-direction: column;
  }
  .navbar .nav-left .slider-container {
    margin-top: 2rem;
    margin-left: 0;
  }
}

.navbar .nav-left .slider-container .slider-text {
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: bold;
  color:white;
}

.navbar .nav-left .slider-container .slider-input {
  cursor: pointer;
}

.navbar .nav-right .btn{
  margin-left: 1rem;
}

@media (max-width: 730px) {
  .navbar .nav-right{
    display: flex;
    flex-direction: column;
  }
  .navbar .nav-right .btn {
    margin-top: 2rem;
  }
}

@media (max-width: 1100px) {
  .navbar .nav-right{
    margin-bottom: 2rem;
  }
}

.bar-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.bar-container .bars {
  width: 25px;
  background: #ffd000;
  border: 2px solid black;
  transition-property: all;
  transition-duration: 0.7s;
  transition-timing-function: ease;
}
